<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ac5900">
    <meta name="description" content="Author: Intan Duano, Category: Restaurant">

    <link rel="icon" href="./favoicon.png">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="apple-touch-icon" href="/icons/icons(192x192)px.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />

    <title>Restaurant Apps</title>

</head>

<body>
    <a href="#maincontent" class="skip-link">Skip To Content</a>


    <header class="header">
        <div class="header__inner">
            <h1 tabindex="0" class="header__title">
                Favo Restaurants
            </h1>
        </div>
        <button tabindex="0" id="hamburgerButton" aria-label="Hamburger Button" class="header__menu">☰</button>
    </header>

    <!-- Navigation Bar-->
    <nav-bar></nav-bar>

    <div tabindex="0">
        <picture>
            <source media="(max-width: 600px)" srcset="/images/heros/hero-image_2-small.jpg">
            <source srcset="/images/heros/hero-image_2-large.jpg">
            <img class="hero" alt="Gambar Hero" src="/images/heros/hero-image_2.jpg">
        </picture>
    </div>

    <main>
        <section class="content">
            <div tabindex="0" id="mainContent">

                <!--Restaurant List-->
            </div>
        </section>
    </main>
    <footer>
        <footer-bar></footer-bar>
    </footer>
</body>

</html>